name: Build and Release
on:
  push:
    tags:
      - 'v*' # Trigger on version tags, e.g. v1.0.0
jobs:
  build:
    name: Build and Release
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Setup AutoHotkey
        uses: thqby/setup-autohotkey@v1
        with:
          version: 'v2.0.10' # Pin to a recent stable version
      
      - name: Compile LangConvert Application
        run: |
          Ahk2Exe.exe /in "langover.ahk" /out "langover.exe" /icon "FinalGreen.ico" /base "Unicode 64-bit"
      
      - name: Compile Setup Script
        run: |
          Ahk2Exe.exe /in "Setup.ahk" /out "Setup.exe" /icon "FinalGreen.ico" /base "Unicode 64-bit"
      - name: Create Zip Archive
        run: |
          Compress-Archive -Path "Setup.exe", "langover.exe", "DiscountLogo.png", "FinalGreen.ico", "FinalRed.ico", "README.md" -DestinationPath "LangConvert_Install.zip"
      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            LangConvert_Install.zip
            Setup.exe
            langover.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
