name: Build and Release
on:
  push:
    tags:
      - 'v*' # Trigger on version tags
jobs:
  build:
    name: Build and Release
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Install AutoHotkey (Base)
        run: choco install autohotkey.install -y
      - name: Download Compiler (Ahk2Exe)
        run: |
          # Download Ahk2Exe explicitly
          Invoke-WebRequest -Uri "https://github.com/AutoHotkey/Ahk2Exe/releases/download/Ahk2Exe1.3.7/Ahk2Exe1.3.7.zip" -OutFile "Ahk2Exe.zip"
          Expand-Archive -Path "Ahk2Exe.zip" -DestinationPath "Compiler"
      - name: Compile LangConvert Application
        run: |
          .\Compiler\Ahk2Exe.exe /in "langover.ahk" /out "langover.exe" /icon "FinalGreen.ico" /base "Unicode 64-bit"
      
      - name: Compile Setup Script
        run: |
          .\Compiler\Ahk2Exe.exe /in "Setup.ahk" /out "Setup.exe" /icon "FinalGreen.ico" /base "Unicode 64-bit"
      - name: Create Zip Archive
        run: |
          Compress-Archive -Path "Setup.exe", "langover.exe", "DiscountLogo.png", "FinalGreen.ico", "FinalRed.ico", "README.md" -DestinationPath "LangConvert_Install.zip"
      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            LangConvert_Install.zip
            Setup.exe
            langover.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
